In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [58]:
import numpy as np
import pandas as pd
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [18]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [5]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [9]:
# reflect an existing database into a new model
Base = automap_base()
Base.prepare(engine, reflect=True)
# reflect the tables 
Base.classes.keys()
#measurement and station

['measurement', 'station']

In [14]:
# View all of the classes that automap found
for classes in Base.classes:
        print(classes)

<class 'sqlalchemy.ext.automap.measurement'>
<class 'sqlalchemy.ext.automap.station'>

In [15]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [20]:
#inspect engine to find columns for measurement
inspector = inspect(engine)
columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
date TEXT
prcp FLOAT
tobs FLOAT

In [21]:
#inspect engine to find columns for station
columns = inspector.get_columns('station')
for c in columns:
    print(c['name'], c["type"])

id INTEGER
station TEXT
name TEXT
latitude FLOAT
longitude FLOAT
elevation FLOAT

In [16]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [67]:
# Find the most recent date in the data set.
latest_date = session.query(Measurement.date).order_by(Measurement.date.desc()).first().date
print(f'Most Recent Date: {latest_date}')

Most Recent Date: 2017-08-23

In [70]:
#setting up the formatting of the time to input into time delta
latest_date_2 = dt.datetime.strptime(latest_date, '%Y-%m-%d')
latest_year = int(latest_date_2.strftime("%Y"))
latest_month = int(latest_date_2.strftime("%m"))
latest_day = int(latest_date_2.strftime("%d"))

In [74]:
# query to retrieve the last 12 months of precipitation data
start_date = dt.date(latest_year, latest_month, latest_day) - dt.timedelta(days=365)
print(f'Start Date: {start_date}')
print(f'End Date: {latest_date}')
# Perform a query to retrieve the date and precipitation scores
measurement_data = session.query(Measurement.date, Measurement.prcp).\
    filter(func.strftime("%Y-%m-%d", Measurement.date) >= start_date).all()
measurement_data
# Save the query results as a Pandas DataFrame and set the index to the date column
measurement_df = pd.DataFrame(measurement_data, columns=['date', 'precipitation score'])
measurement_df.set_index('date', inplace=True, )
measurement_df.head(25)

# Sort the dataframe by date


# Use Pandas Plotting with Matplotlib to plot the data

Start Date: 2016-08-23
End Date: 2017-08-23

            precipitation score
date
2016-08-23                 0.00
2016-08-24                 0.08
2016-08-25                 0.08
2016-08-26                 0.00
2016-08-27                 0.00
2016-08-28                 0.01
2016-08-29                 0.00
2016-08-30                 0.00
2016-08-31                 0.13
2016-09-01                 0.00
2016-09-02                 0.00
2016-09-03                 0.00
2016-09-04                 0.03
2016-09-05                  NaN
2016-09-06                  NaN
2016-09-07                 0.05
2016-09-08                 0.00
2016-09-09                 0.03
2016-09-10                 0.00
2016-09-11                 0.05
2016-09-12                 0.00
2016-09-13                 0.02
2016-09-14                 1.32
2016-09-15                 0.42
2016-09-16                 0.06

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number stations in the dataset

In [ ]:
# Design a query to find the most active stations (i.e. what stations have the most rows?)
# List the stations and the counts in descending order.

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

# Close session

In [ ]:
# Close Session
session.close()